snippet fig "figure environment (includegraphics)"
\\begin{figure}[h]
\\begin{center}
	\\includegraphics[width=${1}\textwidth]{imagens/${2}}
\\end{center}
\\caption{${3}}
\\label{fig:${4}}
\\end{figure}
${0}
endsnippet
